<form method="post" action="/find" style=" margin:20px auto ;">
     
 <div class="form-group ">
      <label class="control-label requiredField" for="vehm">
       Pannel</label>
       <input class="form-control" placeholder="Enter CUID" id="cuid" name="cuid" />   
     </div>

 <button class="btn btn-primary  center" style="text-align:center; width:200px;" >
        Submit
       </button>
</form>